* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
a, p, li {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 0;
}